<ion-view id="about" title="{{'About'|translate}}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true" padding="true">
    <p><strong>FireWeight</strong> is a <a href="https://www.gnu.org/philosophy/free-sw.html">Free Software</a> licensed under the GPLv3 License.</p>

    <p>Made with &hearts; by <strong><a href="https://twitter.com/v4l0s">Valéry Febvre</a></strong> (&copy; 2014)</p>

    <p>Version 1.0.0</p>

    <h3>Make a Donation</h3>
    <p>FireWeight is a free app. You can show your appreciation and support development by donating.</p>
    <p>
      <a href="bitcoin:15QKS2r4bwpoRUjbSyjgQxVtTAiUYLueSz?label=FireWeight&message=Donation%20to%20FireWeight"><img src="img/bitcoin.png"></a>
      <!--a href="https://flattr.com/thing/xxxxxxx/FireWeight"><img src="img/flattr.png"></a-->
    </p>

    <h3>Used frameworks and libraries</h3>

    <p><a href="http://ionicframework.com/">Ionic Framework</a>: The beautiful, open source front-end framework for developing hybrid mobile apps with HTML5</p>
    <p><a href="https://angularjs.org/">AngularJs</a>: Superheroic JavaScript MVW Framework</p>
    <p><a href="http://angular-gettext.rocketeer.be/">Angular-gettext</a>: Super-simple translation support for AngularJS</p>
    <p><a href="https://github.com/VitaliiBlagodir/cordova-plugin-datepicker/">DatePicker Plugin</a> for Cordova/PhoneGap 3.0 (iOS and Android)</p>
    <p><a href="http://www.flotcharts.org/">Flot</a>: Attractive JavaScript plotting for jQuery</p>
    <p><a href="http://momentjs.com/">Moment.js</a>: Javascript date library for parsing, validating, manipulating, and formatting dates</p>
    <p><a href="https://github.com/MikeMcl/big.js">big.js</a>: Small, fast JavaScript library for arbitrary-precision decimal arithmetic</p>
    <p><a href="https://github.com/lugolabs/circles">Circles</a>: Lightwheight JavaScript library that generates circular graphs in SVG</p>

  </ion-content>

</ion-view>
