<ion-view id="bmi-calculator">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="modal.show()" class="button button-icon icon ion-android-information"></button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-icon-top tabs-positive">

    <ion-tab title="{{'BMI'|translate}}" icon="icon ion-ios7-calculator" ng-click="selectTab(0)">
      <ion-content has-bouncing="true">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Height</span>
            <input name="height" type="number" step="0.1" ng-model="bmi.height" placeholder="{{'Height in'|translate}} {{unities[settings.unity].height.name}}"></input>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Weight</span>
            <input name="weight" type="number" step="0.1" ng-model="bmi.weight" placeholder="{{'Weight in'|translate}} {{unities[settings.unity].weight.name}}"></input>
          </label>
        </div>
        <div class="padding-left padding-right">
          <button ng-click="estimateBMI($event)" class="button button-block button-positive" translate>Estimate</button>
        </div>

        <p id="bmi">{{bmi.value || '--.-'}}</p>

        <div class="list card">
          <div class="item item-divider">
            <div class="row">
              <div class="col" colspan="2" translate>IMC Table</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Obese</div>
              <div class="col assertive">&gt; 30</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Overweight</div>
              <div class="col energized">25-30</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Healthy weight</div>
              <div class="col balanced">18.5 - 25</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Underweight mild</div>
              <div class="col energized">16-18.5</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Underweight severe</div>
              <div class="col assertive">&lt; 16</div>
            </div>
          </div>
        </div>

        <p class="padding" translate>Body Mass Index is only an estimation; it cannot be deduced accurately.</p>
      </ion-content>
    </ion-tab>

    <ion-tab title="{{'BFP'|translate}}" icon="icon ion-ios7-calculator" ng-click="selectTab(1)">
      <ion-content has-bouncing="true">
        <div class="list">
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Age</span>
            <input type="number" ng-model="bfp.age" placeholder="{{'Age in years'|translate}}"></input>
          </label>
          <label class="item item-input item-select">
            <span class="input-label" translate>Sex</span>
            <select ng-model="bfp.sex">
              <option selected value="female">{{'Female'|translate}}</option>
              <option value="male">{{'Male'|translate}}</option>
            </select>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Height</span>
            <input name="height" type="number" step="0.1" ng-model="bfp.height" placeholder="{{'Height in'|translate}} {{unities[settings.unity].height.name}}"></input>
          </label>
          <label class="item item-input item-stacked-label">
            <span class="input-label" translate>Weight</span>
            <input name="weight" type="number" step="0.1" ng-model="bfp.weight" placeholder="{{'Weight in'|translate}} {{unities[settings.unity].weight.name}}"></input>
          </label>
        </div>
        <div class="padding-left padding-right">
          <button ng-click="estimateBFP($event)" class="button button-block button-positive" translate>Estimate</button>
        </div>

        <p id="bfp">{{bfp.value || '--.-'}}%</p>

        <div class="list card">
          <div class="item item-divider">
            <div class="row">
              <div class="col" colspan="3" translate>BFP Table</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col"></div>
              <div class="col" translate>Women</div>
              <div class="col" translate>Men</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Essential fat</div>
              <div class="col">10-13%</div>
              <div class="col">2-5%</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Athletes</div>
              <div class="col">14-20%</div>
              <div class="col">6-13%</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Fitness</div>
              <div class="col">21-24%</div>
              <div class="col">14-17%</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Average</div>
              <div class="col balanced">25-31%</div>
              <div class="col balanced">18-24%</div>
            </div>
          </div>

          <div class="item">
            <div class="row">
              <div class="col" translate>Obese</div>
              <div class="col">32%+</div>
              <div class="col">25%+</div>
            </div>
          </div>
        </div>

        <p class="padding" translate>Body Fat Percentage is only an estimation; it cannot be deduced accurately.</p>
      </ion-content>
    </ion-tab>

  </ion-tabs>

</ion-view>
