<div class="modal">
  <ion-header-bar>
    <h1 class="title" translate>Information</h1>
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
  </ion-header-bar>
  <ion-content has-bouncing="true">
    <div class="padding">
      <p translate>For your body to function properly, it is essential that your body contains a certain amount of fat. Body fat helps regulate your body temperature, it cushions and insulate organs and is the main form of the body's energy storage. It is important for everyone to have a healthy amount of body fat.</p>

      <p translate>The amount of body fat that you do or do not have can be potentially dangerous to your health. Carrying too much body fat can increase your risk of developing serious health problems such as high blood pressure, high cholesterol, heart disease, diabetes, and cancer. Too little body fat deprives your body of stored energy, protection of your organs and can potentially cause your body to enter a state of catabolism, which is when your body begins to use muscle protein as fuel.</p>

      <p translate>Lose weight implies lose fat. Instead of deciding an arbitrary amount of weight to lose, the better way to determine a healthy and realistic weight loss goal is to calculate your body fat percentage (BFP) and your body mass index (BMI).</p>

      <p><strong translate>CAUTION: BMI and BFP are estimations and don't apply to all adults, they are not valid in particular for pregnant or nursing women, very muscular people, high level endurance athletes, and people giant, dwarf or amputees.</strong></p>
    </div>
  </ion-content>
</div>
