<ion-side-menus>

  <!-- container for the main visible content -->
  <ion-pane id="pane" ion-side-menu-content>
    <ion-nav-bar class="bar-assertive nav-title-slide-ios7">
      <ion-nav-back-button class="button-clear"><i class="icon ion-chevron-left"></i> {{'Back'|translate}}</ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="main" animation="slide-left-right"></ion-nav-view>
  </ion-pane>

  <!-- left side menu -->
  <ion-side-menu side="left">
    <header class="bar bar-header bar-stable">
      <h1 class="title">FireWeight</h1>
    </header>
    <ion-content class="has-header">
      <ion-list>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close href="#/app/tracking">
          <i class="icon ion-clipboard"></i>
          {{'Tracking'|translate}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close href="#/app/calculator">
          <i class="icon ion-calculator"></i>
          {{'Calculator'|translate}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close href="#/app/settings">
          <i class="icon ion-gear-b"></i>
          {{'Settings'|translate}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
        <ion-item class="item-icon-left item-icon-right" nav-clear menu-close href="#/app/about">
          <i class="icon ion-star"></i>
          {{'About'|translate}}
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
      </div>
    </ion-content>
  </ion-side-menu>

  <!-- right side menu -->
  <ion-side-menu side="right" is-enabled="isRightSideMenuEnabled">
    <header class="bar bar-header bar-stable">
      <h1 ng-show="ctx" class="title">{{'Add a weighing'|translate}}</h1>
      <h1 ng-hide="ctx" class="title">{{'Edit a weighing'|translate}}</h1>
    </header>
    <ion-content class="has-header">
      <div class="list">
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Weight</span>
          <input type="number" step="0.1" ng-model="weight.value" placeholder="{{'Weight in'|translate}} {{unities[settings.unity].weight.name}}"></input>
        </label>

        <div class="row">
          <div class="col">
            <button ng-click="updateValue(-0.1)" class="button button-block button-small icon ion-arrow-left-c"></button>
          </div>
          <div class="col">
            <button ng-click="updateValue(-1)" class="button button-block button-small icon ion-minus"></button>
          </div>
          <div class="col">
            <button ng-click="updateValue(1)" class="button button-block button-small icon ion-plus"></button>
          </div>
          <div class="col">
            <button ng-click="updateValue(0.1)" class="button button-block button-small icon ion-arrow-right-c"></button>
          </div>
        </div>
        
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Date</span>
          <input type="text" ng-click="openDatePicker($event)" ng-model="weight.date"></input>
        </label>

        <div ng-show="ctx" id="actions-bar-add" class="row">
          <div class="col">
            <button ng-click="add()" class="button button-small button-block button-positive icon-left ion-plus" translate>Add</button>
          </div>
        </div>
        <div ng-hide="ctx" class="row">
          <div class="col">
            <button ng-click="delete_()" class="button button-small button-block button-assertive icon-left ion-trash-b" translate>Delete</button>
          </div>
          <div class="col">
            <button ng-click="update()" class="button button-small button-block button-positive icon-left ion-loop" translate>Update</button>
          </div>
        </div>

      </div>
    </ion-content>
  </ion-side-menu>

</ion-side-menus>
