<ion-view title="{{'Settings'|translate}}">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="modal.show()" class="button button-icon icon ion-android-information"></button>
  </ion-nav-buttons>

  <ion-content has-bouncing="true">
    <div class="list">
      <form>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Date Of Birth</span>
          <input type="text" ng-model="data.birthDate" ng-click="openDatePicker($event)" placeholder="{{'Your date of birth'|translate}}"></input>
        </label>
        <label class="item item-input item-select">
          <span class="input-label" translate>Sex</span>
          <select ng-model="data.sex" ng-change="save()">
            <option selected value="female">{{'Female'|translate}}</option>
            <option value="male">{{'Male'|translate}}</option>
          </select>
        </label>
        <label class="item item-input item-select">
          <span class="input-label" translate>Unity</span>
          <select ng-model="data.unity" ng-change="onUnityChange()">
            <option selected value="metric">{{'Metric'|translate}}: cm, kg</option>
            <option value="imperial">{{'Imperial'|translate}}: in, lb</option>
          </select>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Height</span>
          <input type="number" ng-model="data.height" ng-change="onGoalWeightOrHeightChange()" placeholder="{{'Your height in'|translate}} {{unities[data.unity].height.name}}"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Goal Weight</span>
          <input type="number" ng-model="data.goalWeight" ng-change="onGoalWeightOrHeightChange()" placeholder="{{'Your target weight in'|translate}} {{unities[data.unity].weight.name}}"></input>
        </label>
        <label class="item item-input item-stacked-label">
          <span class="input-label" translate>Goal BMI</span>
          <input type="number" ng-model="data.goalBMI" ng-change="onGoalBMIChange()" placeholder="{{'Your target BMI'|translate}}"></input>
        </label>
      </form>
      <div class="padding" translate>
        An ideal BMI is around 22 (between 18.5 and 25) but it varies from one person to another.
      </div>
    </div>
  </ion-content>
</ion-view>
