<ion-view id="tracking">

  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-nav-buttons side="right">
    <button ng-click="new_()" class="button button-positive icon ion-plus"> {{'Add'|translate}}</button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="{{'Tracking'|translate}}" icon="icon ion-clipboard" ng-click="selectTab(0)">
      <ion-content has-bouncing="true">
        <ion-list show-delete="false" show-reorder="false" can-swipe="true">
          <ion-item href="#/app/tracking/{{$index}}" ng-repeat="weight in weightsTracking" class="item-avatar-left" ng-class="'indicator-' + weight.indicator">
            <img ng-if="weight.variation" ng-src="img/arrow-{{weight.variation}}.png">
            <img ng-if="!weight.variation" ng-src="img/record.png">
            <div class="row">
              <div class="col">{{'BMI'|translate}} {{weight.bmi || '-'}}</div>
              <div class="col"><span>{{weight.value}}</span> {{unities[settings.unity].weight.symbol}}</div>
            </div>
            <p>{{weight.dateFormatted}}</p>
            <ion-option-button class="button-info" ng-click="edit($index)">
              <i class="icon ion-edit"></i><br/>{{'Edit'|translate}}
            </ion-option-button>
          </ion-item>
        </ion-list>
      </ion-content>
    </ion-tab>

    <ion-tab title="{{'Dashboard'|translate}}" icon="icon ion-arrow-graph-up-right" ng-click="selectTab(1)">
      <ion-content has-bouncing="true">
        <div class="padding">
          <div ng-if="data.progress" class="row">
            <div class="col" translate>Progress</div>
            <div class="col">
              <circle id="progress" data-value="{{data.progress}}"></circle>
            </div>
          </div>

          <p>
            <div ng-if="data.lostWeight" class="row">
              <div class="col" translate>Weight Lost</div>
              <div class="col">{{data.lostWeight}} {{unities[settings.unity].weight.symbol}}</div>
            </div>
          </p>

          <div class="row">
            <div class="col" translate>Weight</div>
            <div class="col">
              <small ng-if="data.dailyAverage">Daily Avg: {{data.dailyAverage}} {{unities[settings.unity].weight.symbol}}</small>
            </div>
          </div>
          <chart-weight><span translate>No data available</span></chart-weight>
          <strong translate>Body Mass Index</strong>
          <chart-bmi><span translate>No data available</span></chart-bmi>
          <strong translate>Body Fat Percentage</strong>
          <chart-bfp><span translate>No data available</span></chart-bfp>
        </div>
      </ion-content>
    </ion-tab>

  </ion-tabs>

</ion-view>
