<ion-view>
  <ion-content has-bouncing="true">

    <div class="list card">
      <div class="item item-avatar">
        <img ng-show="weight.variation" src="img/arrow-{{weight.variation}}.png">
        <h2 class="{{weight.indicator}}"><strong>{{weight.value}} {{unities[settings.unity].weight.symbol}}</strong></h2>
        <p>{{weight.dateFormatted}} - {{timeAgo}}</p>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Progress</div>
          <div class="col"><circle id="progress" data-value="{{goalProgress}}"></circle></div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Weight Lost</div>
          <div class="col">{{lostWeight}} {{unities[settings.unity].weight.symbol}}</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>To Go</div>
          <div class="col">{{toGo}} {{unities[settings.unity].weight.symbol}}</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Goal Weight</div>
          <div class="col">{{goalWeight}} {{unities[settings.unity].weight.symbol}}</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Start Weight</div>
          <div class="col">{{startWeight}} {{unities[settings.unity].weight.symbol}}</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Body Mass Index (BMI)</div>
          <div class="col">{{weight.bmi}}</div>
        </div>
      </div>

      <div class="item">
        <div class="row">
          <div class="col" translate>Body Fat Percentage (BFP)</div>
          <div class="col">{{weight.bfp}} %</div>
        </div>
      </div>

  </ion-content>
</ion-view>
