#bmi, #bfp {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
}

chart-weight, chart-bmi, chart-bfp {
    display: block;
    height: 200px;
}

#tracking .row, #tracking .col { padding: 0; }
#tracking .col:first-child { font-weight: bold; }
#tracking .col:last-child { text-align: right; }
#tracking .col:last-child span {
    font-weight: bold;
    font-size: 1.7em;
    line-height: 0;
}

.card .item .row, .card .item .col { padding: 0; }
.card .item .col { text-align: right; }
.card .item .col:first-child { text-align: left; }
.card .item.item-divider .col { text-align: center; }

.indicator-assertive { border-left: 8px solid #EF4E3A; }
.indicator-energized { border-left: 8px solid #F0B840; }
.indicator-balanced { border-left: 8px solid #66CC33; }
.indicator-none { border-left: 8px solid #BDC3C7; }

.legendLabel { font-size: 0.8em !important; }
.circles-text { font-size: 16px !important; }